/* Сброс и базовые стили */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  position: relative;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li, blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
}

p {
  white-space: normal;
}