.main {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.header {
    padding: 95px 50px;
    margin-bottom: 3px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

.header_menu {
    display: flex;
}

.header_links-list {
    display: flex;
    gap: 33px;
}

.header_menu-link_active {
    text-decoration: none;
}

.header_logo {
    display: flex;
    justify-content: center;
}

.header_logo-image {
    width: 130px;
    height: 100px;
    display: flex;
}

.header_links-list-item {
    list-style: circle;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.header_links-list-item:first-child {
    list-style-type: none;
}

.footer_address {
    width: 240px;
    justify-self: end;
}

.footer_address-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}
/* Кавер */
main {
    position: relative;
}
.cover {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 180px;
}

.aligned-text {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
    margin-right: -0.3em;
}

.cover_title {
    padding-top: 160px;
    display: flex;
    width: 1000px;
    flex-direction: column;
    z-index: 1;
    align-self: center;
    padding-bottom: 110px;
}

.aligned-text_left {
    padding-bottom: 20px;
}

.aligned-text_center {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.aligned-text_right {
    display: flex;
    justify-content: right;
}

.cover_description {
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    width: 1000px;
    align-self: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.cover_description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18.5px;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid;
    width: 256px;
    height: 51px;
}
/* Лоты */
.lots {
    display: flex;
    flex-direction: column;
    width: 1050px;
    margin-bottom: 132px;
}

.lots_card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    align-self: center;
    width: 100%;
}

.lots_card-list-item {
    list-style: none;
    position: relative;
}

.lots_heading {
    padding-bottom: 28px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.card {
    color: #fff;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.card-link {
    text-decoration: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_content {
    z-index: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 48px 40px;
    justify-content: space-between;
    min-height: 597px;
}

.card_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.lots_look-more-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-left: 40px;
    margin-top: 33px;
}
/* Об аукционе */

.about {
    width: 1052px;
    display: grid;
    grid-template-columns: 359px 1fr;
    grid-template-rows: 268px 1fr;
    margin-bottom: 182px;
}

.about_logo {
    width: 240px;
    height: 240px;
    background: black;
    align-content: center;
    text-align: center;
    border-radius: 120px;
    margin-right: 20px;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}

.about_text-content {
    gap: 24px;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
}

.about_centering-logo {
    place-self: center;
    padding-top: 15px;
}

.about_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    padding-top: 15px;
}

.about_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about_text-indentation {
    padding-right: 5px;
}

.about_stretching-columns {
    align-content: center;
}

/* Подвал */
.footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px;
    padding: 0 50px;
}

.footer_menu-list {
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.footer_menu-link_active {
    text-decoration: none;
}

.footer_social-list {
    grid-template-columns: 48px 48px 48px;
    grid-template-rows: 48px;
    display: grid;
    height: min-content;
    width: 240px;
    justify-content: space-between;
    justify-self: right;
    list-style: none;
}

.address-direction {
    justify-self: start;
}
